body {
    font-size: 1.4rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: blueviolet;
  }
  
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    height: 70vh;
    width: 80%;
    margin: 0 auto;
  }
  
  .grid-left {
    background-color: rgb(204, 199, 199);
  }
  
  .grid-right {
    background-color: #eee;
    text-align: center;
    padding-left: 0;
  }
  .completed {
    text-decoration: line-through;
  }
  
  input {
    font-size: 1.6rem;
    padding: 0.2rem 0.8rem;
    margin: 30px 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
    outline: none;
    width: 75%;
  }
  
  button {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    margin: 30px 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px black;
    outline: none;
  }
  
  .add {
    background-color: blueviolet;
    color: white;
  }
  .add:hover {
    background-color: rgb(224, 134, 236);
    color: rgb(59, 57, 57);
  }
  
  .clear {
    background-color: rgb(6, 100, 88);
    color: white;
  }
  .clear:hover {
    background-color: rgb(21, 221, 14);
    color: rgb(59, 57, 57);
  }
  
  .btnDiv {
    display: flex;
  }
  